<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>adduserdata</servlet-name>
        <servlet-class>adduserdata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteuserdata</servlet-name>
        <servlet-class>deleteuserdata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mobileusersignup</servlet-name>
        <servlet-class>mobileusersignup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mlogin</servlet-name>
        <servlet-class>mlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>maddcontact</servlet-name>
        <servlet-class>maddcontact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mviewcontact</servlet-name>
        <servlet-class>mviewcontact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>meditcontact</servlet-name>
        <servlet-class>meditcontact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mviewlocation</servlet-name>
        <servlet-class>mviewlocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mAddLatLng</servlet-name>
        <servlet-class>mAddLatLng</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchlatlngonSpecificDateServlet</servlet-name>
        <servlet-class>fetchlatlngonSpecificDateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mobileDeleteContactServlet</servlet-name>
        <servlet-class>mobileDeleteContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchlatlng</servlet-name>
        <servlet-class>fetchlatlng</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mobileVerifyAccountServlet</servlet-name>
        <servlet-class>mobileVerifyAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mfetchinfo</servlet-name>
        <servlet-class>mfetchinfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showdangerlocationservlet</servlet-name>
        <servlet-class>showdangerlocationservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>mlogin</servlet-name>
        <url-pattern>/mlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adduserdata</servlet-name>
        <url-pattern>/adduserdata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteuserdata</servlet-name>
        <url-pattern>/deleteuserdata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mobileusersignup</servlet-name>
        <url-pattern>/mobileusersignup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>maddcontact</servlet-name>
        <url-pattern>/maddcontact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mviewcontact</servlet-name>
        <url-pattern>/mviewcontact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>meditcontact</servlet-name>
        <url-pattern>/meditcontact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mviewlocation</servlet-name>
        <url-pattern>/mviewlocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mAddLatLng</servlet-name>
        <url-pattern>/mAddLatLng</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchlatlngonSpecificDateServlet</servlet-name>
        <url-pattern>/fetchlatlngonSpecificDateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mobileDeleteContactServlet</servlet-name>
        <url-pattern>/mobileDeleteContactServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchlatlng</servlet-name>
        <url-pattern>/fetchlatlng</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mobileVerifyAccountServlet</servlet-name>
        <url-pattern>/mobileVerifyAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mfetchinfo</servlet-name>
        <url-pattern>/mfetchinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showdangerlocationservlet</servlet-name>
        <url-pattern>/showdangerlocationservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
